{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "eol-last": [
      "error",
      "never"
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-debugger": "warn",
    "quotes": [
      "error",
      "double"
    ]
  }
}